@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}   

html, body {
    background-color: darkgray;
    min-height: 100vh;    
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

header > h1 {
    padding-top: 50px;  
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;    
}

header a:hover, footer a:hover {
    text-decoration: underline;
    color: rgb(255, 254, 179);
}

section {
    padding-top: 10;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: lightblue;
    color: white;
}



footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}